<div class="page-header">
  <%= link_to company_finances_path, :class => 'btn btn-primary float-right' do %>
    <span class="fa fa-list-alt"></span>
    List
  <% end %>
  <h1>New Finance</h1>
  <p>Last Reference: <%= @lastRef %></p>
</div>

<div class="card w-50 mx-auto">
  <div class="card-header">
    Add New Finance Document
  </div>
  <div class="card-body">

    <%= render 'form' %>

  </div>
</div>
