<div class="page-header">
  <%= render 'layouts/backbutton' %>
  <h1>New person</h1>
</div>

<div class="card w-50 mx-auto">
  <div class="card-header">
    Add New Person
  </div>
  <div class="card-body">

    <%= render 'form' %>

  </div>
</div>