<div class="page-header">
  <%= link_to company_stockplans_path, :class => 'btn btn-primary float-right' do %>
    <span class="fa fa-list-alt"></span>
    List
  <% end %>
  <%= link_to [@company, @stockplan], :class => 'btn btn-primary float-right' do %>
    <span class="fa fa-search"></span>
    Show
  <% end %>
  <h1>Edit Stock Series</h1>
</div>

<div class="card w-50 mx-auto">
  <div class="card-header">
    Edit Stock Plan
  </div>
  <div class="card-body">

    <%= render 'form' %>

    <hr/>
    <% if current_user.editor? %>
      <%= link_to company_stockplan_path(@company, @stockplan), :class => 'btn btn-danger float-right', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <span class="fa fa-exclamation-triangle"></span>
        Delete
      <% end %>
    <% end %>

  </div>
</div>

